.text {
  font-family: "josefin";
  font-weight: 900;
  @apply relative text-center flex flex-col items-center
    justify-center text-6xl text-white drop-shadow-md;
  @screen md {
    @apply translate-y-[0] flex-col gap-6 text-8xl;
    line-height: 60%;
  }
}

.header {
  font-family: "cursive";
  @apply absolute -top-14 -left-14 -rotate-12 tracking-wide font-light;
  @screen md {
    @apply absolute -top-24 -left-24 -rotate-12 tracking-wide font-light;
  }
}

.container {
  @apply relative h-[80vh] w-screen overflow-hidden;
  //   background-image: url("../../images/herobg.png");
  //   background-repeat: no-repeat;
  //   background-size: cover;
}
