@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Georgia;
}

@font-face {
  font-family: "exmouth";
  src: url("../../public//fonts/exmouth.ttf");
  font-weight: 500;
}

.exmouth {
  font-family: "exmouth";
}

.button {
  @apply py-2 px-4 w-fit font-medium bg-red text-white transition-all;
  &:hover {
    @apply brightness-75;
  }
}
