@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-white;
  font-family: Georgia;
}

.content {
  @apply transition-all;
}

@font-face {
  font-family: "exmouth";
  src: url("../../public/fonts/exmouth.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "maple";
  src: url("../../public/fonts/maple.otf");
}

@font-face {
  font-family: "cursive";
  src: url("../../public//fonts/cursive.otf");
}
@font-face {
  font-family: "josefin";
  src: url("../../public//fonts/josefin.ttf");
}

.exmouth {
  font-family: "exmouth";
}
.maple {
  font-family: "maple";
}
.cursive {
  font-family: "cursive";
}
.josefin {
  font-family: "josefin";
}

.button {
  @apply py-2 px-8 w-fit font-medium bg-blue text-white transition-all border-2 shadow-md;
  &:hover {
    @apply brightness-75;
  }

  &:disabled {
    @apply bg-grey;
    &:hover {
      @apply brightness-100;
    }
  }

  &.orange {
    @apply border-none uppercase font-bold w-full;
    border-radius: 8px;
    background-color: #cd9156;
    color: white;
  }
}

.container {
  @apply p-4 md:px-10 mx-auto;
  max-width: 1440px;
}

.line {
  @apply w-full bg-green;
  height: 1px;
  &.light {
    @apply bg-white;
  }
}

.input {
  @apply bg-[transparent] outline-none px-2 w-full h-10;
  border-bottom: 2px solid #e2e2e2;
  &::placeholder {
    @apply text-grey;
  }
}
