@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-white;
  font-family: Georgia;
}

.content {
  @apply transition-all py-20;
}

@font-face {
  font-family: "exmouth";
  src: url("../../public//fonts/exmouth.ttf");
  font-weight: 500;
}

.exmouth {
  font-family: "exmouth";
}

.button {
  @apply py-2 px-8 w-fit font-medium bg-blue text-white transition-all border-2 shadow-md;
  &:hover {
    @apply brightness-75;
  }
}

.container {
  @apply p-4 md:px-10 mx-auto;
  max-width: 1440px;
}

.line {
  @apply w-full bg-green;
  height: 1px;
  &.light {
    @apply bg-white;
  }
}

.input {
  @apply bg-[transparent] outline-none px-2 w-full h-10;
  border-bottom: 2px solid #e2e2e2;
  &::placeholder {
    @apply text-grey;
  }
}
